@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    padding: 0;
}

#imgs img {
    width: 100%;
}

h1 {
    color: white;
}

.intro {
  left: 10vh;
  top:30vh;

    text-decoration: none;
    font-size: 1em;
    font-family: "Open Sans", "Arial", sans-serif;
    text-transform: uppercase;
    color: #ffffffb3;
    letter-spacing: 1px;
}
 

/* 
#imgs {
    position:relative;
    margin:0 auto;
  }
  
  #imgs img {
    position:absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
  }
  
  #imgs img.top:hover {
    opacity:0;
  } */


  @media screen and (max-width: 40em) {
    .intro  {
      margin-top: 6em;
      font-size: 0.8em;
      text-align: center;
    }

    #imgs {
      margin-top: 14em;
    }

    html {
      background-color: black;
    }

    #imgs img {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      display: relative;
    }
  }

 @media screen and (min-width: 76em) {
  .intro {

    position: absolute;
  }

  
 #imgs {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  position: absolute;

}


.fadeIn {
    opacity: 0;
    -moz-animation: cssAnimation 7s;
    /* Firefox */
    -webkit-animation: cssAnimation 7s;
    /* Safari and Chrome */
    -o-animation: cssAnimation 7s;
    /* Opera */
    animation: cssAnimation 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fadeInNine {
  opacity: 0;
  -moz-animation: cssAnimation 10s;
  /* Firefox */
  -webkit-animation: cssAnimation 10s;
  /* Safari and Chrome */
  -o-animation: cssAnimation 10s;
  /* Opera */
  animation: cssAnimation 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  17% {
    opacity:0;
  }
  25% {
    opacity:0.3;
  }
  92% {
    opacity:1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cssAnimation {
    17% {
      opacity:0;
    }
    25% {
      opacity:0.3;
    }
    92% {
      opacity:1;
    }
}

ul li, .func_list p {
  font-size: 0.7em;
}
img:nth-child(1) {
  animation: xfade 20s 18s infinite;
}
img:nth-child(2) {
  animation: xfade 20s 16s infinite;
}
img:nth-child(3) {
  animation: xfade 20s 14s infinite;
}
img:nth-child(4) {
  animation: xfade 20s 12s infinite;
}
img:nth-child(5) {
  animation: xfade 20s 10s infinite;
}
img:nth-child(6) {
  animation: xfade 20s 8s infinite;
}
img:nth-child(7) {
  animation: xfade 20s 6s infinite;
}
img:nth-child(8) {
  animation: xfade 20s 4s infinite;
}
img:nth-child(9) {
  animation: xfade 20s 2s infinite;
}
img:nth-child(10) {
  animation: xfade 20s 0s infinite;
}

@keyframes xfade{
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
} 
}


@viewport {
	width: device-width
}


nav ul li {
  list-style: none;
  padding-right: 1em;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
 position: absolute;
  top: 1vh;
  right: 10vh;
} 

nav ul li a {
  text-decoration: none;
  font-size: 0.8em;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: rgba(255,255,255, .7); 
  letter-spacing: 1px;
} 
.nav {
color: white;
position: absolute;
top: 2px;
right: 10vh;
z-index: -1;
}

.wasm_logo {
  position: absolute;
  bottom: 3px;
  left: 1vh;
}

.typewriter {
  font-family: Courier, monospace;
display: inline-block;
}

.typewriter-text {
  display: inline-block;
  overflow: hidden;
  letter-spacing: 2px;
 animation: typing 5s steps(30, end), blink .75s step-end infinite;
  white-space: nowrap;
  font-size: 30px;
  font-weight: 700;
  border-right: 4px solid orange;
  box-sizing: border-box;
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: orange; 
  }
}

img {
  width: 100%;
}