html, body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}


.intro {
    left: 10vh;
    top:50vh;
    color: white;
    position: absolute;
}

nav ul li {
    list-style: none;
    padding-right: 1em;
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav {
    position: absolute;
    top: 1vh;
    right: 10vh;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 0.9em;
}

@media screen and (min-width: 76em) {
	body {
			width: 80%;
			display: grid;
			grid-template-columns: 25% 75%;
			grid-template-rows: auto;
			grid-template-areas: "top-left top-right" 
								"end end"
	}

	header {
		padding-left: 1em;
	}
	nav {
		grid-area: top-right;
	}
	
	.logo {
		grid-area: top-left;
	}

}

@viewport {
	width: device-width
}