@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    margin: 0;
    padding: 0;

    background-color: black;
}

#imgs img {
    width: 100%;
}

h1 {
    color: white;
}

.intro {
  left: 10vh;
  top:30vh;

    text-decoration: none;
    font-size: 1em;
    font-family: "Open Sans", "Arial", sans-serif;
    text-transform: uppercase;
    color: #ffffffb3;
    letter-spacing: 1px;

    max-height: 100vh;
    margin-bottom: 10vh;
}


  @media screen and (max-width: 40em) {
    .intro  {
      margin-top: 6em;
      font-size: 0.8em;
      text-align: center;
    }

    #imgs {
      margin-top: 14em;
    }

    html {
      background-color: black;
    }

    #imgs img {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      display: relative;
    }
  }

 @media screen and (min-width: 76em) {
  .intro {

    position: absolute;
  }

 #imgs {
  list-style: none;
  margin: 0;
  padding: 0;
}
#imgs img {
  position: absolute;

}



.fadeIn {
    opacity: 0;
    -moz-animation: cssAnimation 7s;
    /* Firefox */
    -webkit-animation: cssAnimation 7s;
    /* Safari and Chrome */
    -o-animation: cssAnimation 7s;
    /* Opera */
    animation: cssAnimation 7s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.fadeInNine {
  opacity: 0;
  -moz-animation: cssAnimation 10s;
  /* Firefox */
  -webkit-animation: cssAnimation 10s;
  /* Safari and Chrome */
  -o-animation: cssAnimation 10s;
  /* Opera */
  animation: cssAnimation 10s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  17% {
    opacity:0;
  }
  25% {
    opacity:0.3;
  }
  92% {
    opacity:1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes cssAnimation {
    17% {
      opacity:0;
    }
    25% {
      opacity:0.3;
    }
    92% {
      opacity:1;
    }
}

.end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 5vh;
}

.demo {
  margin-top: 30vh;
}

.grid article {
  display: flex;
  flex-direction: column;
}

.end .slide {
  margin: 0.8em;
}
.fadeInFooter {
  opacity: 0;
  -moz-animation: cssAnimation 12s;
  /* Firefox */
  -webkit-animation: cssAnimation 12s;
  /* Safari and Chrome */
  -o-animation: cssAnimation 12s;
  /* Opera */
  animation: cssAnimation 12s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@-webkit-keyframes slide {
  100% { left: 0; opacity: 1}
}

@keyframes slide {
  100% { left: 0; opacity: 1}
}

ul li, .func_list p {
  font-size: 0.7em;
}
#imgs img:nth-child(1) {
  animation: xfade 20s 18s infinite;
}
#imgs img:nth-child(2) {
  animation: xfade 20s 16s infinite;
}
#imgs img:nth-child(3) {
  animation: xfade 20s 14s infinite;
}
#imgs img:nth-child(4) {
  animation: xfade 20s 12s infinite;
}
#imgs img:nth-child(5) {
  animation: xfade 20s 10s infinite;
}
#imgs img:nth-child(6) {
  animation: xfade 20s 8s infinite;
}
#imgs img:nth-child(7) {
  animation: xfade 20s 6s infinite;
}
#imgs img:nth-child(8) {
  animation: xfade 20s 4s infinite;
}
#imgs img:nth-child(9) {
  animation: xfade 20s 2s infinite;
}
#imgs img:nth-child(10) {
  animation: xfade 20s 0s infinite;
}

@keyframes xfade{
 17% {
   opacity:1;
 }
 25% {
   opacity:0;
 }
 92% {
   opacity:0;
 }
} 
}

@viewport {
	width: device-width
}


nav ul li, .end ul li {
  list-style: none;
  padding-right: 1em;
}

nav ul, .end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav {
 position: absolute;
  top: 1vh;
  right: 10vh;
} 

ul li a{
  text-decoration: none;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: uppercase;
  color: rgba(255,255,255, .7); 
  letter-spacing: 1px;
} 


.nav {
color: white;
position: absolute;
top: 2px;
right: 10vh;
z-index: -1;
}

img {
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 5vh;
}

.grid article {
  flex: 1 0 21%;
}

h2 {
  display: block;
}